@import "../../index.scss";

.branding {
  display: flex;
  align-items: flex-end;
  gap: $space-xs;

  &__icon {
    font-size: 24px;
  }

  &__name {
    font-size: 10px;
  }

  &__role {
    font-size: 9px;
  }

  &.display-none__desktop {
    font-weight: bold;

    @media (min-width: $breakpoint-md-lg) {
      display: none;
    }
  }
}
