@use "../../index.scss" as *;

.branding {
  display: flex;
  align-items: flex-end;
  gap: $space-xs;

  &__icon {
    font-size: 24px;
  }

  &__name {
    font-size: $font-size-xs;
  }

  &__role {
    font-size: $font-size-xxs;
  }

  &.display-none__desktop {
    font-weight: bold;

    @media (min-width: $breakpoint-md-lg) {
      display: none;
    }
  }
}
