@use "../../index.scss" as *;

.projects {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    justify-content: space-between;
  }

  &__cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: $space-xs;
    min-height: 400px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    will-change: transform;

    @media (min-width: $breakpoint-sm) {
      grid-auto-columns: calc(50% - ($space-xs / 2));
    }

    @media (min-width: $breakpoint-md) {
      grid-auto-columns: calc(50% - ($space-sm / 2));
      gap: $space-sm;
    }

    @media (min-width: $breakpoint-lg) {
      grid-auto-columns: calc(33.3% - ($space-md / 3) * 2);
      gap: $space-md;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--container-background);
    scroll-snap-align: start;
    transition: border 0.5s ease;

    &:has(.projects__card-link:hover) {
    }

    &-link {
      grid-column: span 2;
    }

    &__title {
      padding: $space-xs 0;
      text-align: center;
      font-family: var(--secondary-font);
      font-size: $font-size-lg;
    }

    &__preview {
      border-radius: 8px 8px 0 0;
      overflow: hidden;
    }

    &__description {
      height: 110px;
      padding: $space-sm;
      font-size: $font-size-md;
    }

    &__tech,
    &__github-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 85px;
      font-size: 28px;

      &__label {
        font-size: $font-size-xxs;
      }
    }

    &__github-link {
      transition: color 0.3s ease;
      color: var(--secondary-text);

      &:hover {
        color: var(--primary-text);
      }
    }
  }

  &__card-navigation {
    display: flex;
    justify-content: center;
    margin: $space-sm 0;

    @media (min-width: $breakpoint-lg) {
      margin: 0;
    }
  }
}
