@use "../../index.scss" as *;

.projects {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: clamp(300px, 100%, 360px);
    gap: $space-sm;
    min-height: 400px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  &__card {
    display: grid;
    grid-template-rows: max-content 175px 150px max-content;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: start;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: var(--container-background);

    &-title {
      grid-column: span 2;
      text-align: center;
      padding: $space-xs 0;
      font-family: var(--secondary-font);
      font-size: $font-size-lg;
    }

    &-preview {
      grid-column: span 2;
      overflow: hidden;

      & img {
        transition: transform 0.4s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    &-description {
      grid-column: span 2;
      padding: $space-md $space-sm 0 $space-sm;
      font-size: $font-size-md;
    }

    &-tech,
    &-github-link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 25px;

      &__label {
        font-size: $font-size-xxs;
        padding: $space-xs 0 $space-sm 0;
      }
    }
  }
}
