@import "../../index.scss";

.hero {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  align-content: center;
  justify-content: center;
  height: 100%;

  &__title {
    font-family: var(--secondary-font);
    font-size: $font-size-xxl;
    letter-spacing: -4px;
    word-spacing: -10px;
    line-height: 60px;
    padding: $space-xs 0;

    & br {
      @media (min-width: $breakpoint-md-lg) {
        display: none;
      }
    }
  }

  &__subtitle {
    margin-bottom: $space-md;
    font-size: $font-size-lg;
    letter-spacing: -1px;
    word-spacing: -1px;
    line-height: 20px;
    color: var(--secondary-text);
    font-weight: normal;
  }
}
