@use "../../index.scss" as *;

.cv {
  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__wrapper {
    font-size: $font-size-sm;
    // outline: 3px solid var(--accent);
    // background-color: #fafafa;
    // color: #070707;
    background-color: var(--container-background);
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;

    @media (min-width: $breakpoint-lg) {
      display: grid;
      // grid-template-columns: 485px 1fr;
      grid-template-columns: repeat(2, 1fr);
      max-width: none;
      margin: 0;
    }

    @media (min-width: 1200px) {
      // grid-template-columns: 0.75fr 1fr;
    }
  }

  &__side-content {
    padding: $space-md $space-sm;
    border-bottom: 1px solid var(--border);

    @media (min-width: $breakpoint-xs) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content 1fr 0.5fr 0.5fr;
      column-gap: $space-sm;
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content 1fr 0.5fr 0.5fr;
      row-gap: $space-xs;
      // background-color: #070707;
      // color: #ececec;
      border-bottom: 0;
    }

    &__item {
      padding: $space-xs 0;

      @media (min-width: $breakpoint-lg) {
        padding: 0;
      }

      &.portrait {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint-lg) {
          align-items: normal;
        }

        & img {
          width: 185px;
          height: max-content;
          border: 4px solid var(--accent);
          border-radius: 100%;
        }
      }

      &.skills {
        @media (min-width: $breakpoint-xs) {
          grid-row: span 2;
          padding: 0;
        }

        & svg {
          // List bullet point
          font-size: 5px;
          margin: auto $space-xs auto 0;
        }
      }
    }

    &__name {
      font-weight: normal;
      font-size: $font-size-lg;
      margin-bottom: $space-xs;
      text-align: center;

      @media (min-width: $breakpoint-xs) {
        grid-column: span 2;
        margin-bottom: $space-md;
        & br {
          display: none;
        }
      }

      @media (min-width: $breakpoint-lg) {
        line-height: 28px;
        margin-bottom: $space-sm;

        & br {
          display: block;
        }
      }
    }

    &__title {
      font-size: $font-size-md;
      padding: $space-xs 0;
    }

    &__list {
      &-item {
        display: flex;
        padding-bottom: $space-xxs;

        & svg {
          font-size: 16px;
          margin-right: $space-xs;
        }

        &.space-between {
          justify-content: space-between;
        }

        &.spaced {
          padding-bottom: $space-xs;
          transition: text-shadow 0.3s ease;

          &:not(:nth-child(3)) {
            &:hover {
              text-shadow: var(--glow);
              text-decoration: underline;
              text-underline-offset: 3px;
            }
          }

          @media (min-width: $breakpoint-lg) {
            padding-bottom: $space-xxs;
          }
        }
      }
    }
  }

  &__main-content {
    padding: $space-md $space-sm;

    @media (min-width: $breakpoint-lg) {
      // background-color: #fafafa;
      border-left: 1px solid var(--border);
    }

    &__title {
      font-size: $font-size-md;
      padding: $space-xxs 0;
    }

    &__item {
      padding: $space-xs 0;

      &__title {
        display: flex;
        align-items: center;
        color: var(--accent);
        font-size: $font-size-sm;
        margin-bottom: $space-xxs;

        & .line {
          height: 2px;
          width: 15px;
          margin-right: $space-xs;
          background-color: var(--accent);
        }
      }

      &__list-item {
        padding: $space-xxs 0;
        display: flex;

        & svg {
          // List bullet point
          font-size: 5px;
          margin: $space-xxs $space-xs 0 0;
        }
      }

      &__subtitle__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $space-sm;
      }

      &__subtitle {
        font-size: $font-size-sm;
        font-weight: normal;
        width: 75%;
      }

      &__years {
        font-size: $font-size-xs;
      }
    }
  }
}
