@use "../../index.scss" as *;

.contact {
  @media (min-width: $breakpoint-lg) {
    display: grid;
    align-content: center;
    grid-template-areas:
      "title form"
      "subtitle form"
      "media form"
      ". form";
  }

  & .section__title {
    grid-area: title;
  }
  & .contact__message {
    grid-area: subtitle;
  }
  & .social-media-box {
    grid-area: media;
  }
  & .contact__form {
    grid-area: form;
  }

  & .section__title {
    display: none;
    margin-bottom: $space-xs;

    @media (min-width: $breakpoint-xxs) {
      display: block;
    }

    @media (min-width: $breakpoint-sm) {
      margin-bottom: $space-md;
    }

    &__sm-screens {
      display: block;

      @media (min-width: $breakpoint-xxs) {
        display: none;
      }
    }
  }

  &__message {
    margin-bottom: $space-sm;
    font-size: $font-size-lg;
    letter-spacing: -1px;
    word-spacing: -1px;
    line-height: 22px;
    color: var(--secondary-text);
    font-weight: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
    margin-top: $space-lg;

    @media (min-width: $breakpoint-lg) {
      margin: 0;
    }

    &__group {
      &:focus-within {
        & label {
          color: var(--primary-text);
          text-shadow: var(--glow);
        }
      }
    }

    & label {
      font-size: $font-size-xs;
      color: var(--secondary-text);
      transition: color 0.3s ease, text-shadow;
    }

    & textarea {
      min-height: 75px;
    }

    & input,
    & textarea {
      padding: $space-xxs $space-xs;
      border: 1px solid var(--border);
      width: 100%;
      background-color: var(--input-background);
      transition: transform 0.1s ease, background-color 0.3s ease;

      &:focus,
      &:active {
        outline: none;
        background-color: white;
        transform: scale(1.01);
      }
    }

    &__submit-button {
      max-width: 200px;
      height: 40px;
      border-radius: 20px;
      border: 0;
      font-weight: 600;
      font-size: $font-size-md;
      background-color: var(--accent);
      color: white;
      opacity: 0.2;
      transition: opacity 0.3s ease, background-color 0.3s ease;

      &.active {
        opacity: 1;
        cursor: pointer;

        &:hover {
          background-color: lighten(#8e8558, 5%);
        }
      }

      & svg {
        transform: rotate(45deg);
        margin-left: $space-xs;
      }
    }
  }
}
