@use "../../index.scss" as *;

.contact {
  @media (min-width: $breakpoint-lg) {
    display: grid;
    align-content: center;
    grid-template-areas:
      "title form"
      "subtitle form"
      "media form"
      ". form";
  }

  & .section__title {
    grid-area: title;
  }
  & .contact__message {
    grid-area: subtitle;
  }
  & .social-media-box {
    grid-area: media;
  }
  & .contact__form {
    grid-area: form;
  }

  & .section__title {
    display: none;
    margin-bottom: $space-xs;

    @media (min-width: $breakpoint-xxs) {
      display: block;
    }

    @media (min-width: $breakpoint-sm) {
      margin-bottom: $space-md;
    }

    &__sm-screens {
      display: block;

      @media (min-width: $breakpoint-xxs) {
        display: none;
      }
    }
  }

  &__message {
    margin-bottom: $space-sm;
    font-size: $font-size-lg;
    letter-spacing: -1px;
    word-spacing: -1px;
    line-height: 22px;
    color: var(--secondary-text);
    font-weight: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
    margin-top: $space-lg;

    @media (min-width: $breakpoint-lg) {
      margin: 0;
    }

    &__group {
      & label {
        font-size: $font-size-xs;
        color: var(--primary-text);
        font-weight: 600;
      }

      & textarea {
        min-height: 100px;
        font-size: $font-size-md;
      }

      &__message {
        &__label {
          display: flex;
          justify-content: space-between;
          margin-bottom: 3px;
        }

        &__count {
          color: var(--secondary-text);
        }
      }

      &.invalid {
        & .contact__form__input {
          background-color: #ffcccf;
          border: 2px solid red;

          &__icon,
          &__error-message {
            color: red;
          }
        }
      }

      &.valid {
        & .contact__form__input {
          background-color: #ccffcf;
          border: 2px solid green;

          &__icon,
          &__error-message {
            color: green;
          }
        }
      }
    }

    &__input {
      padding: $space-xxs $space-xs;
      border: 1px solid var(--border);
      border-radius: 2px;
      width: 100%;
      background-color: var(--input-background);
      transition: transform 0.2s ease, background-color 0.3s ease;

      &:focus,
      &:active {
        outline: none;
        background-color: white;
        transform: scale(1.01);
      }

      &__wrapper {
        position: relative;
      }

      &__icon {
        position: absolute;
        right: $space-xs;
        top: 50%;
        transform: translateY(-50%);
      }

      &__error-message {
        font-size: $font-size-sm;
        margin-top: $space-xxs;
        padding-left: $space-xxs;
      }
    }

    &__submit-button {
      max-width: 200px;
      height: 40px;
      border-radius: 20px;
      border: 0;
      font-weight: 600;
      font-size: $font-size-md;
      background-color: var(--accent);
      color: white;
      opacity: 0.2;
      transition: opacity 0.3s ease, filter 0.3s ease;

      &.active {
        opacity: 1;
        cursor: pointer;

        &:hover {
          filter: brightness(115%);
        }
      }

      & svg {
        transform: rotate(45deg);
        margin-left: $space-xs;
      }
    }
  }
}
