@use "../../index.scss" as *;

.social-media-box {
  display: flex;
  gap: $space-xs;

  &__link {
    color: var(--secondary-text);
    font-size: 25px;

    &:hover {
      color: var(--primary-text);
      transform: scale(1.1);
    }
  }
}
