@import "../../index.scss";

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-lg;
  width: 100%;
  max-width: $breakpoint-xs;
  height: 80%;
  padding: $space-sm $space-xs;
  border: 1px solid var(--border);
  border-radius: 7.5px 7.5px 0 0;
  background-color: var(--container-background);

  &.open {
    transform: translateY(0);
    transition-delay: 0s;

    @media (min-width: $breakpoint-xs) {
      transform: translateX(0);
    }
  }

  @media (min-width: $breakpoint-xs) {
    top: 0;
    transform: translateY(0) translateX(-100%);
    width: 80%;
    height: 100%;
    padding: $space-sm;
    border: none;
    border-right: 1px solid var(--border);
    border-radius: 0;
  }

  @media (min-width: $breakpoint-md-lg) {
    position: static;
    transform: translateX(0);
    transition: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
    max-width: $breakpoint-xl;
    height: auto;
    padding: 0 $space-sm;
    border: none;
    border-radius: 0;
    background-color: var(--background);
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 $space-lg;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;
  }

  &__center-container {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    text-transform: uppercase;

    @media (min-width: $breakpoint-md-lg) {
      flex-direction: row;
      margin-left: 10%;
    }

    @media (min-width: $breakpoint-lg) {
      gap: $space-lg;
      margin-left: 15%;
    }

    @media (min-width: $breakpoint-xl) {
      gap: $space-xl;
    }
  }

  &__nav-link {
    padding: $space-xs $space-lg;
    color: var(--secondary-text);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;

    @media (min-width: $breakpoint-md-lg) {
      padding: $space-xs 0;
      font-size: 14px;
    }

    &:hover,
    &.active {
      color: var(--primary-text);
      text-shadow: var(--glow);
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
  padding: $space-sm 0;
  border-bottom: 1px solid var(--border);

  @media (min-width: $breakpoint-xs) {
    padding: $space-xl 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  @media (min-width: $breakpoint-md-lg) {
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
    position: static;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
  }
}
