@use "../../index.scss" as *;

.download-pdf {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-xs;
  width: 100px;
  height: 50px;
  margin: auto 0;
  border-radius: 5px;
  font-size: $font-size-xxs;
  font-weight: 800;
  background-color: var(--primary-text);
  color: var(--background);
  overflow: hidden;
  transition: transform 0.1s ease;

  &:active {
    transform: scale(1.05);
  }

  @media (min-width: $breakpoint-sm) {
    width: 150px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 110%; // Fix slight button background still visible
    border-radius: 5px;
    background-color: var(--accent);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  &:hover {
    color: #eaeaea;

    &::before {
      transform: translateX(0);
    }
  }

  & svg {
    font-size: 18px;
    margin-bottom: 5px;
    z-index: 2;
  }

  &__text {
    z-index: 2;
  }

  & .md-screen-up {
    display: none;

    @media (min-width: $breakpoint-sm) {
      display: inline;
    }
  }
}
