@import "index";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  background-color: var(--background);
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: $font-size-base;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: $space-sm $space-xs;

  @media (min-width: $breakpoint-md) {
    padding: $space-sm;
  }

  @media (min-width: $breakpoint-md-lg) {
    height: 75px;
    padding: 0;
  }
}

section {
  height: 100dvh;
  width: 100%;
  max-width: $breakpoint-xl;
  padding: 95px $space-xs $space-sm $space-xs;
  scroll-snap-align: start;

  @media (min-width: $breakpoint-md) {
    padding: 95px $space-sm $space-sm $space-sm;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 95px $space-lg $space-sm $space-lg;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;
  }
}
