@use "index" as *;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-size: 16px;

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}

body {
  background-color: var(--background);
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: $font-size-base;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: $space-sm $space-xs;
  background-color: var(--background);

  @media (min-width: $breakpoint-md) {
    padding: $space-sm $space-md;
  }

  @media (min-width: $breakpoint-md-lg) {
    height: 75px;
    padding: 0;
  }
}

section {
  height: auto;
  width: 100%;
  max-width: $breakpoint-xl;
  padding: 0 $space-xs 0 $space-xs;
  scroll-margin-top: 75px;

  &#projects,
  &#cv,
  &#about {
    min-height: calc(100dvh - 70px); // 100 viewport height minus height of header
    margin-bottom: 150px;

    @media (min-width: $breakpoint-md-lg) {
      min-height: calc(100dvh - 75px);
    }
  }

  &#projects,
  &#cv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $breakpoint-md) {
    padding: 0 $space-lg 0 $space-lg;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;
  }
}

.cv__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $space-xl;
}

.hero,
.contact {
  min-height: calc(100dvh - 70px); // 100 viewport height minus height of header

  @media (min-width: $breakpoint-md-lg) {
    min-height: calc(100dvh - 75px);
  }
}

h1,
.section__title {
  font-family: var(--secondary-font);
  font-size: $font-size-xxl;
  letter-spacing: -4px;
  word-spacing: -10px;
  line-height: 60px;
}

.section__title {
  font-size: clamp(2.6rem, 5vw + 1.25rem, 3.8rem);
  word-spacing: -5px;
  word-wrap: break-word;
}
