/* ---------------- VARIABLES ------------------ */
$breakpoint-xxs: 380px;
$breakpoint-xs: 480px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-md-lg: 880px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1300px;

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 20px;
$space-md: 30px;
$space-lg: 40px;
$space-xl: 60px;
$space-xxl: 80px;

$font-size-xxs: 0.5625rem; // 9px
$font-size-xs: 0.625rem; // 10px
$font-size-sm: 0.75rem; // 12px
$font-size-md: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.3125rem; // 21px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 4rem; // 64px

:root {
  --background: #f6f6f4;
  --container-background: #eaeae8;
  --input-background: #eaeae8;
  --primary-text: #1e1e1e;
  --secondary-text: #808080;
  --accent: #8e8558;
  --border: #d0d0d0;
  --glow: 0 0 1px var(--primary-text), 0 0 1px var(--primary-text), 0 0 1px var(--primary-text);
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Archivo Black", sans-serif;
}

[data-theme="dark"] {
  --background: #121212;
  --container-background: #1e1e1e;
  --input-background: #d0d0d0b3;
  --primary-text: #eaeaea;
  --secondary-text: #a8a8a8;
  --border: #3a3a3a;
  --glow: 0 0 1px var(--primary-text), 0 0 10px var(--primary-text);
}

/* ------------------ RESET ---------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"],
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
