@import "../../index.scss";

.settings {
  // padding-left: $space-lg;

  @media (min-width: $breakpoint-md-lg) {
    padding: 8px 0 0 0;
  }

  &__button {
    display: none;
    width: max-content;
    border: none;
    background-color: transparent;
    color: var(--secondary-text);
    font-size: 21px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s;

    @media (min-width: $breakpoint-md-lg) {
      display: block;
    }

    &:hover,
    &.open {
      color: var(--primary-text);
      transform: scale(1.1);

      & svg {
        animation: spin 10s linear infinite;
      }
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: $breakpoint-md-lg) {
      position: fixed;
      right: $space-sm;
      top: 65px;
      display: none;
      height: 120px;
      gap: $space-xxs;
      padding: $space-xs;
      background-color: var(--container-background);
      border: 1px solid var(--border);
      border-radius: 5px;

      &.open {
        display: flex;
        justify-content: space-evenly;
      }
    }

    @media (min-width: $breakpoint-lg) {
      right: $space-lg;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
